pip>=24.0
setuptools>=70.0.0
wheel>=0.44.0
--index-url https://download.pytorch.org/whl/cu118
torch==2.7.1+cu118
torchvision==0.22.1+cu118
accelerate>=0.33.0
transformers>=4.46.2
tokenizers>=0.21.0
datasets>=3.0.2
evaluate>=0.4.2
huggingface_hub>=0.25.2
pytorch-crf==0.7.2
conllu==4.4.1
sentencepiece>=0.2.0
numpy>=1.26.4
pandas>=2.2.3
scikit-learn>=1.5.2
tqdm>=4.66.5
protobuf>=5.27.0
seqeval==1.2.2
seaborn==0.13.2
matplotlib==3.10.7
# pip install seaborn
